<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<appSettings>
		<add key="CardFolder" value="C:\\Projects\\Card\\Implementation\\GeneratedCards" />
		<add key="FontPath" value="C:\\Projects\\Card\\Implementation\\GeneratedCards\\OCR-A.ttf" />
		<add key="ChromeDriverPath" value="C:\Projects\Card\Implementation\CardGenerator\CardGeneratorApp\Selenium\chromedriver.exe" />
		
	</appSettings>
</configuration>